{% extends 'auth.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Create an Account</h1>
                </div>

                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    {{ form.as_p }}

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <button type="submit" class="btn btn-primary btn-user btn-block">Register</button>
                </form>

                <hr>
                <div class="text-center">
                    <a class="small" href="{% url 'login' %}">Already have an account? Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
