{% extends 'home.html' %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">Payment Receipt</h1>
    
    <div class="card">
      <div class="card-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 30%;">Weapon</th>
            <td>{{ payment.order.gun.name }}</td>
          </tr>
          <tr>
            <th>Amount</th>
            <td>{{ payment.order.quantity }}</td>
          </tr>
          <tr>
            <th>Discount Percentage</th>
            <td>{{ order.discount_percentage }}%</td>
          </tr>
          <tr>
            <th>Total Price without Discount</th>
            <td>{{ payment.order.total_price }}</td>
          </tr>
          <tr>
            <th>Total Price with Discount</th>
            <td>{{ payment.order.discounted_total_price }}</td>
          </tr>
          <tr>
            <th>Payment Amount</th>
            <td>{{ payment.amount }}</td>
          </tr>
          
          {% if payment.amount > payment.order.discounted_total_price %}
            {% load mathfilters %}
            <tr>
              <th>Change</th>
              <td>{{ payment.amount|sub:payment.order.discounted_total_price }}</td>
            </tr>
          {% endif %}
        </table>

        <div class="alert {% if is_payment_less %}alert-danger{% else %}alert-success{% endif %}" role="alert">
          {% if is_payment_less %}
            <strong>Your payment is missing!</strong> Please make payment according to the total price.
          {% else %}
            <strong>Your payment was successful!</strong> Thank you for your payment.
          {% endif %}
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <a href="{% url 'list' %}" class="btn btn-secondary">Back to List</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
